<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>Week 02 Teach Team Activity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="W2 Teach Team Activity by Francisco Gongora"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
 <main class="container-fluid">
   <h1 class="display-4">
     02 Teach : Team Activity
    <small class="text-muted">by Francisco Gongora</small>
   </h1>
  <h2 class="invisible">1</h2>
  <h2 class="invisible">2</h2>
  <div class="row">
    <div class="col"></div>
     <div id="con-01" class="col p-3 mb-2 bg-info text-white"><p class="text-center">Box One</p></div>
     <div class="col"></div>
     <div id="con-02" class="col p-3 mb-2 bg-secondary text-white"><p class="text-center">Box Two</p></div>
      <div class="col"></div>
     <div id="con-03" class="col p-3 mb-2 bg-dark text-white"><p class="text-center">Box Three</p></div>
     <div class="col"></div>
    </div>
    <h2 class="invisible">1</h2>
    <h2 class="invisible">2</h2>
    <div class="row">
      <div class="col"></div>
      <div class="col-10">
    <button id="clickMe" class="btn btn-success">Clik Me</button>
    <button id="fadeInOut" class="btn btn-danger">Fade In/Out</button>
  </div>
  <div class="col"></div>
    </div>
    <h2 class="invisible">1</h2>
    <h2 class="invisible">2</h2>
    <div class="row">
      <div class="col"></div>
    <div class="col-10">
    <form id="formColor">
      <div class="for-group">
        <small class="form-text text-muted">Please enter a valid color name or code, don't forget the # symbol</small>
        <label for="colorInput">Name / Code:</label>
        <input type="text" id="colorInput" required>
      </div>
        <input type="submit" id="submitColor" class="btn btn-primary" value="Change color">
      
    </form>
  </div>
  <div class="col"></div>
  </div>
</main> 
<script src="../../../js/jquery-3.5.0.min.js"></script>
<script src="../../../js/scripts-w02.js"></script>
</body>
</html>